# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# BUT keep the example template
!*.tfvars.example

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

# SSH keys
modules/ec2/my-key-techflow
modules/ec2/my-key-techflow.pub
*.pem
id_rsa*
id_ed25519*
